<h1>Users#show view</h1>

<h4>Účet patří :</h4>
<p>@user.id <%= @user.id %></p>
<p>Jméno : <%= @user.first_name + ' ' + @user.last_name %></p>
<p>user_id <%= @user.account.user_id %></p>
<p>account_id <%= @user.account.id %></p>
<p>rodné příjmení <%= @account.birth_name %></p>
<p>místo narození <%= @account.birth_place %></p>
<p>rodné číslo <%= @account.birth_number %></p>
<br>
<hr>
<br>
<h3>Právě prohlíží :</h3>
<p># <%= current_user.id %> : <%= current_user.role %> : <%= current_user.first_name + ' ' + current_user.last_name %></p>

