<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Semifinal" %></title>
    <%= viewport_meta_tag(:maximum_scale => "1.0") %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <body class="<%= controller_name %> <%= action_name%>">
      
      <%= render 'layouts/header' %>
      
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-10 col-md-offset-1 ">
            <div class="flash"><%= bootstrap_flash %></div>
            
              <div class="row">
                <%= yield :sidebar %>
                <%= yield %>
              </div>
              
          </div>
          
        </div><!--/row-->
        
        <%= render 'layouts/footer' %>
  
      </div> <!-- /container -->
      
      
  </body>
</html>
